@media screen and (min-width: 1023px) and (max-width: 3000px) {
  * {
    /* font-size: 1.5rem; */
  }
  .general-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto 0 auto;
    background-image: url("./imgs/pfote.jpg");
    background-repeat: repeat;
    background-size: 50px;
  }

  .header-img {
    height: 50vh;
    width: 40vw;
    background-position: -50px;
    border-radius: 200px;
    height: 60vh;
  }
  .container-sign-in {
    width: 40vw;
    height: 60vh;
    border-radius: 200px;
  }
}
