@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;800&display=swap");

:root {
  --colorWhite: #fefeff;
  --colorLightBlue: #d6efff;
  --colorMnBlue: #344b6f;
  --colorCoolGrey: #8688a2;
  --colorLightGrey: #f3f4f6;
  --colorHeliotropeGrey: #a396a3;
  --colorPastelPink: #d1abad;
  --colorBlack: #000000;
  --box-shadow-small: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-imgs: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  --box-shadow-top-bottom: 0px -25px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  --icon-width: 30px;
  --icon-height: 30px;
  --icon-margin: 7px;
}

* {
  font-family: "Catamaran", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

#app {
  min-height: auto;
  min-width: 100vw;
}
button:hover {
  cursor: pointer;
}

/*----------- SignIn Component -------------------------*/
.general-container {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  /* background-image: url("./imgs/pfote.jpg"); */
  background-repeat: repeat;
  background-size: 50px;
}
.header-logo img {
  width: 50px;
}
.header-img {
  background-image: url("../assets/imgs/header-dogs-4.jpg");
  height: 40vh;
  box-shadow: var(--box-shadow-top-bottom);
  border-radius: 200px 200px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.container-sign-in {
  background-color: var(--colorPastelPink);

  /* border-radius: 36% 64% 18% 82% / 49% 50% 60% 40%; */
  /* border-radius: 200px; */
  border-radius: 0 0 200px 200px;
  box-shadow: var(--box-shadow-imgs);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.header-title {
  font-size: 2rem;
}
.header-subtitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.input-field-label {
  font-size: 1.4rem;
}
.form-sign-in input {
  width: 40%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  box-shadow: var(--box-shadow-small);
}
.form-sign-in p {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* -------------SignUp Component-------------- */

/* --------------Home view-------------------- */
.wrapper {
  height: 100vh;
}

/* ---------------NAV-BAR--------------- */
nav img {
  width: 40px;
  margin: 10px;
  border-radius: 0;
}

.navbar {
  background-color: var(--colorPastelPink);
  border-radius: 0px 0px 20px 20px;
  width: 100vw;
  height: 70px;
  box-shadow: var(--box-shadow-top-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: var(--box-shadow-small);
  gap: 7px;
  /* position: relative;
  top: 00px; */
  background-color: var(--colorPastelPink);
  background-image: url("./imgs/header-dogs-4-short.jpg");
  background-size: 1300px;
  /* background-position-y: 0%; */
  background-position-x: 100%;
  background-repeat: no-repeat;
}
.links p,
.links a {
  font-size: 1.3rem;

  font-weight: bold;
  text-decoration: none;
  color: var(--colorMnBlue);

  background: white;
}
.links a:hover {
  color: var(--colorPastelPink);
}
.container-welcome-logout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}
.btn-hamburger {
  background-image: url("./icons/hot-dog.png");
  background-position: bottom;
  background-repeat: none;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40%;
  margin: 10px;
}
.btn-hamburger:hover {
  transform: rotate(90deg);
}
.nav-big-screen {
  display: none;
}

/* ---------YOUR ACCOUNT-------------*/
.content {
  text-align: end;
  background-color: var(--colorPastelPink);
  width: 100px;
  margin: 0 5px 0 auto;
}
.content img {
  width: 20px;
  float: left;
}
/* --------------------------------------------*/
/* -------------------ADD NEW TASK-------------*/
.new-tasks-container,
.add-task-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 5px auto 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
}
.add-task-container input {
  background-color: var(--colorLightGrey);
  width: 80vw;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  box-shadow: var(--box-shadow-small);
}
/* --------------------------------------------*/
/* -------------------All TASKS ---------------*/
.container-all-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 50x; */
  width: 90vw;
  padding-bottom: 50px;
  margin: 0 auto 0px auto;
}
.container-task {
  background-color: var(--colorLightGrey);
  border-radius: 30px 5px;
  box-shadow: var(--box-shadow-small);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 5px; */
  width: 250px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
  /* padding: 10px; */
}
.container-task:hover {
  -webkit-box-shadow: 8px 10px 5px 0px var(--colorHeliotropeGrey);
  -moz-box-shadow: 8px 10px 5px 0px var(--colorHeliotropeGrey);
  box-shadow: 8px 10px 5px 0px var(--colorHeliotropeGrey);
}
.top-status {
  display: flex;
  justify-content: center;
  position: relative;
  top: -15px;
}
.container-buttons {
  text-align: center;
  margin-bottom: 5px;
}
.edit-input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}
.edit-input-fields input {
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  box-shadow: var(--box-shadow-small);
}
h3,
.container-task p {
  font-size: 1.3rem;
  text-align: center;
}
.completed {
  text-decoration: line-through;
  color: var(--colorMnBlue);
}
.not-completed {
  color: var(--colorBlack);
}
.btn-delete {
  background-image: url("./icons/dog-poo-1.png");
  background-position: center;
  background-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  border-radius: 30%;
  border: none;
  margin: var(--icon-margin);
}
.btn-edit {
  background-image: url("./icons/dog-edit-2.png");
  background-repeat: none;
  background-position: center;
  background-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  border-radius: 30%;
  border: none;
  margin: var(--icon-margin);
}

.btn-complete {
  /* background-image: url("./icons/task_done_green.png"); */
  /* background-position: center; */
  background-image: url("./icons/dog-happy-2.png");
  background-size: cover;
  /* border-radius: 30%; */
  /* outline: var(--colorWhite) 5px solid; */
  width: var(--icon-width);
  height: var(--icon-height);
  border: none;
  margin: var(--icon-margin);
}
.btn-not-complete {
  /* background-image: url("./icons/task-not-completed-red.png"); */
  background-image: url("./icons/dog-not-happy.png");
  border-radius: 30%;
  /* outline: var(--colorWhite) 5px solid; */
  background-size: cover;
  width: var(--icon-width);
  height: var(--icon-height);
  border: none;
  margin: var(--icon-margin);
}
/* --------------------------------------------*/
/* -------------------FOOTER------------------*/

footer {
  width: 100vw;
  /* height: 20px; */
  position: fixed;
  bottom: 0;
  background-color: var(--colorPastelPink);
  box-shadow: var(--box-shadow-top);
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  /* text-align: center; */
}

.footer-image img {
  width: 20px;
}
footer p {
  font-size: 1rem;
}
footer h6 {
  font-size: 1.2rem;
}
/* Account View */
